$container-width: 400px;
$ten-px: 10px;

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: relative;
  width: $container-width;
  margin: 0 auto;
}

.card {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: $container-width;
}

.card textarea {
  width: $container-width;
  max-width: $container-width;
  height: 100px;
  display: inline-block;
  clear: both;
}

.btn {
  display: block;
  color: #777;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px $ten-px;
  width: 100px;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

.btn.active {
  background-color: #eee;
  color: #000;
}

.btn.btn-show-more {
  margin-left: $ten-px;
}

span.label {
  background-color: #ccc;
  color: #fff;
  padding: 0.25rem;
  margin: 0 0.25rem;
  font-size: $ten-px;
}

.input-w-200 {
  padding: 5px;
  width: 200px;
  margin: $ten-px 0;
}

.giphy-container {
  max-height: 500px;
  min-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.giphy-thumb {
  padding: 5px 0;
}

.giphy-thumb img {
  width: $container-width;
  max-width: $container-width;
  height: auto;
}

#scrollFinder {
  height: 20px;
}
.giphy-preview .caption {
  font-size: 12px;
  text-align: center;
}

.giphy-selected {
  max-width: $container-width;
  width: $container-width;
  height: auto;
  border: 1px #ccc dashed;
  box-shadow: 5px 4px 19px #ccc;
  margin: $ten-px 0;
}

.trending {
  position: absolute;
  text-shadow: 3px 2px 5px #000;
  color: #fff;
  top: $ten-px;
  left: $ten-px;
}

.loader {
  margin: $ten-px auto;
  width: 20px;
  height: 20px;
  border: $ten-px solid #f3f3f3;
  border-radius: 50%;
  border-top: $ten-px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
